<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="subscribeToTopics" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <subscribeToTopics>
    <add key="1" value="alarmState" />
    <add key="2" value="armedState" />
    <add key="3" value="silentState" />
  </subscribeToTopics>
  <appSettings>
    <!--MQTT-->
    <add key="mqttServer" value="127.0.0.1" />
    <add key="mqttUseTls" value="true" />
    <add key="mqttAllowUntrustedCerts" value="true" />
    <add key="mqttClientId" value="AlarmSystem"/>
    <!--Default Creds-->
    <add key="mqttUsername" value="AlarmSystem"/>
    <add key="mqttPassword" value="o1to!9BJj8YdgCP!Njp^mD1gY^Jr3Cew"/>
    
    <!--Serial-->
    <add key="comPort" value="4" />
    <add key="baudRate" value="115200" />
  </appSettings>
</configuration>