<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="subscribeToTopics" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <subscribeToTopics>
    <add key="1" value="alarmState" />
    <add key="2" value="armedState" />
    <add key="3" value="silentState" />
  </subscribeToTopics>
  <appSettings>
    <add key="comPort" value="4" />
    <add key="baudRate" value="115200" />
    <add key="mqttServer" value="192.168.2.114" />
  </appSettings>
</configuration>